@using DataAccessLogic.DatabaseModels

@model Item

<div class="col">
    <div class="card h-100 item-card">
        <img src="@Model.PhotoSrc" class="card-img-top list-lot item-card-img" alt="...">
        <div class="card-body">
            <a id="name" class="auction-link" asp-action="OpenItem" asp-controller="User" asp-route-id="@Model.Id">
                <h5 class="card-title">@Model.Name</h5>
            </a>
            <p class="card-text text-wrap">@Model.Description</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Дата: </b><span class="active-lot">@Model.Date</span></li>
                <li class="list-group-item"><b>Цена: </b>@Model.Price руб.</li>
                <li class="list-group-item"><b>Продавец: </b>@Model.User.UserName</li>
            </ul>
        </div>
    </div>
</div>